<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="bower_components/ng-img-crop/compile/minified/ng-img-crop.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body ng-app="app" ng-controller="CropController as vm">
    <form name="myForm">
        <div>Crop Image and Upload</div>
        <button ngf-select ng-model="vm.picFile" accept="image/*">
            Select Picture</button>
        <div ngf-drop ng-model="vm.picFile" ngf-pattern="image/*"
             class="cropArea">
            <img-crop image="vm.picFile  | ngfDataUrl"                 
            result-image="vm.croppedDataUrl" ng-init="vm.croppedDataUrl=''">
            </img-crop>
        </div>
        <div>
            <img ng-src="{{vm.croppedDataUrl}}" />
        </div>
        <button ng-click="vm.upload(vm.croppedDataUrl, vm.picFile.name)">Submit</button> 
            
        <span class="progress" ng-show="vm.progress >= 0">
          <div style="width: {{ vm. progress }}%" ng-bind="vm.progress + '%'"></div>
        </span>
        <span ng-show="vm.result">Upload Successful</span>
        <span class="err" ng-show="vm.errorMsg">{{vm.errorMsg}}</span>
    </form>
</body>
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
<script src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
<script src="bower_components/ng-img-crop/compile/minified/ng-img-crop.js"></script>
<script src="app/app.module.js"></script>
<script src="app/crop/crop.module.js"></script>
<script src="app/crop/crop.controller.js"></script>
</html>